.box-1 {
    width: 250px;
    margin: 0 auto 0 auto;
}

.box-2 { 
   width: 235px;
   margin: 0 auto 0 auto;
}

.box-3 { 
    margin: 0 auto 0 auto;
    width: 150px;
}

.box-4 { 
    margin: 0 auto 0 auto;
    width: 1320px;
}

.box-5 {
    margin: 0 auto 0 auto;
    width: 270px;
}

.box-6 {
    margin: 0 auto 0 auto;
    width: 110px;
}

.box-7 {
    margin: 0 auto 0 auto;
    width: 400px;
}

